body {
    height: 100vh;
    margin: 0;
    padding: 2%;
    font-family: sans-serif;
    background-color: rgb(201, 201, 201);
}

.head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    color: rgb(37, 37, 37);
}

#createNewButton {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    color: white;
}

.deckContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.deck {
    height: 20vh;
    width: 75vw;
    border-radius: 25px;
    padding: 1%;
    margin: 2%;
    margin-left: 0;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    
    background-color: rgb(37, 37, 37);
    color: white;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuOption {
    color: white;
    font-weight: lighter;
}